/* assets/style.css */
.log-modal {
    max-height: 800px;
    overflow-y: scroll;
    background: rgb(230, 230, 230);
    padding: 20px;
    border: 1px solid black;
    margin-top: 20px; /* Add some spacing */
    /* display: none; Initially hidden */
}